<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel = "classes" verbose="5" thread-count = "5">
  <test  name="Test"  >
    <classes>
      <class name="week5.day1.DuplicateLeadTestng"/>
      <class name="week5.day1.CreateLeadTestng"/>
      <class name="week5.day1.EditLeadTestng"/>
      </classes>
  </test> <!-- Test -->
  <test name="Test1" >
    <classes>
      <class name="week5.day1.MergeLeadTestng"/>
      <class name="week5.day1.DeleteLeadTestng"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
